<div class="info-control" id="custom">
  <mat-card style="background-color: #efdcd5;">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Place search</mat-label>
        <input matInput placeholder="Ex. New Mexico" value="New Mexico">
      </mat-form-field>
    </form>

    

  </mat-card>
  <p>

  </p><p></p>
  <mat-accordion >
    <mat-expansion-panel hideToggle style="background-color: #efdcd5">
      <mat-expansion-panel-header>
        <mat-panel-title>
         exp. title
        </mat-panel-title>
        <mat-panel-description>
          exp. summary
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>surprise content</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>